*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
  // This is 1rem
   	font-size: 62.5%;

   	@media (max-width: 1200px) {
   		font-size: 61.25%;
   	}

   	@media (max-width: 900px) {
   		font-size: 60.5%;
   	}

   	@media (max-width: 600px) {
   		font-size: 60%;
   	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@media (max-width: 1200px) {
		padding: 0;
	}
}
                           